*.user
*.orig
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
!node.exe
!ILMerge.exe
!NuGet.exe
packages
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*
*.ReSharper

